<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {% if page.name %} {{site.name}} {% endif %} {% if site.description %} - {{site.description}} {% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed"> -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{site.img_dir}}favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>


  <meta property="og:type" content="article">
  <meta property="og:url" content="{{site.url}}/{{page.slug}}">
  {% if page.socialmediaimage %}
  <meta property="og:image" content="{{site.url}}/assets/img/{{page.socialmediaimage}}">
  {% endif %}
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:site_name" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">

  {% if page.socialmediaimage %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="{{site.url}}/assets/img/{{page.socialmediaimage}}">
  {% endif %}

</head>
