body {
  /*font-family: "Open Sans", helvetica, arial, sans-serif;*/
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}

ul {
  /*padding: 0;*/
  padding-left: 14px;
}

ul li {
}

header {
  background-color: #80B959;
  color: #fff;
  background: url('../img/static-bg.jpg') no-repeat;
  background-size: 100%;
  background-repeat: repeat-y;
  padding: 55px 0;

  padding-bottom: 1em;
  position: relative;
}
.middle-text {
  text-align: center;
  position: relative;
  vertical-align: middle;
  z-index: 20;
}
.welcome-content {
  min-height: 200px;
  background-color: #F4F4F4;
  padding: 3% 0 0 0;
}



.btn {
  /*font-family: "Open Sans", helvetica, arial, sans-serif;*/
  font-size: 13px;
  cursor: pointer;
  padding: 0 26px;
  line-height: 38px;
  display: inline-block;
  margin: 0 10px 4px 0;
  height: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #80B959;
  color: #fff;
  border: 1px solid #80B959;
  border-radius: 4px;
}

.new-section {
  padding: 14px 0;
  padding-bottom: 4em;
  position: relative;
}

@media only screen and (width : 960px) {
  .new-section {
    padding-bottom: 1em;
  }

}
.new-section-with-bg {
  background-color: #9AD373;
  /*background: url('../img/green-net.png');*/
  /*background-size: 100%;*/
}

.post-date {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: #9f9f9f;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

a {
  font-weight: bold;
  color: #80B959;
  border-bottom: 1px solid rgba(198, 70, 61, 0);
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  transition: border 0.2s;
}
a:hover {
  border-bottom: 1px solid #80B959;
  text-decoration: none;
  color: #80B959;
}



/*footer a {
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  transition: border 0.2s;
}
footer a:hover {

  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}*/
#fin {
  padding-bottom: 40px;
}

.subscribe-icon {
  max-height: 50px;
  padding-right: 30px;
}

.subscribe-feed-link {
  text-align: center;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #d5d5d5;
  color: #7e7e81;
  padding: 1rem;
  margin: 0 auto 1.5rem;
  overflow: scroll;
  font-size: .90rem;
}
.subscribe-icon, .subscribe-icon:hover {
  color: #000;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

/*new styles*/
nav {
  padding: 7px;
  position: fixed;
  border-bottom: 1px solid #333333;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.logo {
  padding: 7px 14px;
}
.logo:hover {
  text-decoration: none;
  border:none;
}

.logo img {
  width: 140px;
}
.episodes {
  background-color: white;
  padding: 3% 28px 7% 28px;
}
.p-0 {
  padding: 0;
}
.p-7 {
  padding: 7;
}
.pt-7 {
  padding-top: 7px;
}
.pt-14 {
  padding-top: 14px;
}
.pt-21 {
  padding-top: 21px;
}
.ptp-7 {
  padding-top: 7%;
}
.ptp-14 {
  padding-top: 14%;
}
.fa-facebook-official {
  color:#3b5998;
}
.fa-twitter-square {
  color: #55acee;
}

.container-fluid>.row {
  border-bottom: 1px solid #15977F;
}

@media only screen and (min-width : 667px) {
  .welcome-content {
    /*position: fixed;*/
    /*float: left;*/
    /*height: 100%;*/
  }
/*  section#subscribe {
    position: absolute;
    width: 100%;
    bottom: 100px;
  }
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }*/
}

@media only screen and (max-width : 667px) {
  .welcome-content {
    position: relative;
    padding-top:  14%;
  }
}

.container.post {
  padding-top: 9em;
  min-height: 550px;
}

.container.post img {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

#netposi {
  height: 30%;
}

#email-subscribe {
  height: 30%;
}

#subscribe {
  height: 20%;
}

footer {
  width: 100%;
  background-color: #333333;
  /*padding: 50px 25px 100px 25px;*/
  padding: 21px 7px;
  height: 20%;
  color: #fff;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*z-index: 100;*/
}

.episode-card {
  border: 1px solid #333333;
  min-height: 380px;
  padding: 7px;
}

.black {
  color: black;
}
