<!DOCTYPE html>
<html>

	{% include head.html %}

  <body>
		{% include header.html %}
		<div class="container post">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-3">
					<div class="episode-card">
				    <h4>Episode {{ page.episode_number }}</h4>
				    <h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
				    <h4>with {{ page.guest }}</h4>
				    <img src="/assets/img/{{page.image}}" class="img-circle img-responsive" alt="">
					</div>
				</div>
				<div class="col-sm-7">
			    <!-- <div class=""><i class="fa fa-facebook-official fa-1x"></i> <span>Share</span> <i class="fa fa-twitter-square fa-1x"></i> Tweet</div> -->
			    <div class="pt-14">
			    	{{ page.description }}
			    	{% unless page.shoutouts == nil %}
			    	<p class="pt-14">Shoutouts:</p>
			    	<ul class="pt-7">
			    		{% for shoutout in page.shoutouts %}
			    			<li>{{shoutout}}</li>
			    		{% endfor %}
			    	</ul>
			    	{% endunless %}
			    </div>

					<p>
						{{ content }}
					</p>
					<br>
			    <h5 class="pt-14">Enjoyed this episode? <a href="{{site.url}}/#episodes">Check out other episodes.</a></h5>
					<br><br>
					<div class="text-center" style="background:#80B959; padding:2em; border-radius:5px;">
						<h4>Subscribe to get notified when new episodes come out:<small></small></h4>
						<!-- Begin MailChimp Signup Form -->
						<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
						<style type="text/css">
							#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
						</style>
						<div id="mc_embed_signup" style="width:80%; margin: auto;">
						<form action="//netposi.us11.list-manage.com/subscribe/post?u=83d51e9a92d8826e8a47647f4&amp;id=ea97ad110f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll">

						<div class="mc-field-group">
							<label for="mce-EMAIL">Email Address
						</label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;"><input type="text" name="b_83d51e9a92d8826e8a47647f4_ea97ad110f" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
								</div>
						</form>
						</div>
						<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->

					</div>
					<br><br>
				</div>
			</div>
		</div>


    {% include footer.html %}

  </body>

</html>
